@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

%xs{
    font-family: "Inter";
    font-size: 12px;
}
%xs-500{
    font-family: "Inter";
    font-size: 12px;
}
%sm{
    font-family: "Inter";
    font-size: 14px;
}
%sm-500{
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;

}
%sm-600{
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
}
%sm-700{
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
}
%md{
    font-family: "Inter";
    font-size: 16px;
}
%md-500{
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
}

%md-600{
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
}
%md-700{
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
}
%lg-700{
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
}
%lg-600{
    font-family: "Inter";
    font-weight: 600;
    font-size: 18px;
}
%lg-500{
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
}
%lg{
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
}
%xl-500{
    font-family: "Inter";
    font-weight: 500;
    font-size: 20px;
}
%xl-600{
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
}
%xl-700{
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
}
%xl{
    font-family: "Inter";
    font-size: 20px;
}

%xxl-500{
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
}
%xxl-600{
    font-family: "Inter";
    font-size: 22px;
    font-weight: 600;
}
%xxl-700{
    font-family: "Inter";
    font-size: 22px;
    font-weight: 700;
}

%xxxl-700{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
}


