@import "./scss/fonts";
@import "./scss/nullstyle";
@import "./scss/header";
@import "./scss/components";
@import "./scss/colors";
@import "./scss/footer";
@import "./scss/layout";
@import "./scss/pages/home";
@import "./scss/pages/stand-upper";
@import "./scss/pages/single-stand-upper";
@import "./scss/pages/single-gostrol";
@import "./scss/pages/single-news";
@import "./scss/pages/single-program";
@import "./scss/pages/single-video";
@import "./scss/pages/program";
@import "./scss/pages/about-center";
@import "./scss/pages/mediateka";
@import "./scss/pages/contacts";

.heroSwiper{
  position: absolute !important;
  width: 80% !important;
  top: 272px;
  right: -20% !important;
  
  @media (max-width: 1100px) {
    right: -30% !important; 

  }
  @media (max-width: 875px) {
    right: -40% !important; 

  }
  @media (max-width: 768px) {
    width: 100vw !important;
    top: 100px;
    right: -18px !important;
  }
 
  .swiper {
    width: 100%;
    height: 100%;
    @media (max-width: 768px) {
      width: 100vw !important;
    }
  }

   .swiper-wrapper{
    align-items: center;
    min-height: 390px;
    gap: 20px;
    @media (max-width: 768px) {
        min-height: 350px;
       margin-left: calc( 25% - 180px ); 
      }
  }
  .swiper-slide {
    transition: all 0.3s ease;
    min-height: 250px;
    width: 180px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0 !important;
  }

  .swiper-slide-active{
    background: red !important;
    min-height: 390px;
    width: 281px !important;
      @media (max-width: 768px) {
        min-height: 350px;
        width: 257px;
      }
  }
  .swiper-slide-next{
     @media (max-width: 768px) {
      }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.header {
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .container {}

  .header__burger {
    @media (min-width: 992px) {
      display: none;

    }
  }

  .header__logo {
    width: 137px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .header__menu {
    @media (max-width: 992px) {
      display: none;

    }



  }

  .menu {}


  .menu__list {
    display: flex;
    align-items: center;


  }

  .menu__item {

    &:not(:last-child) {
      margin-right: 28px;
    }
  }

  .menu__link {
    @extend %md !optional;
    color: #FFFFFF99;
    ;
  }

  .header__services {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header__button {
    @extend %main_button !optional;

    @media (max-width: 992px) {
      display: none;

    }
  }

  .header__lang-select {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .lang {
    color: white;
    @extend %sm-600 !optional;
  }

  // .header__bredcrumbs

  &__bottom {
    margin-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(14px);
    padding: 16px 0;

    @media (max-width: 500px) {
      display: none;
    }
  }






}